<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="results.css">
    <title>Search results for: <%= query %></title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Search results for: <%= query %></h1>
    </header>
    <section class="container">
        <% for(let dat of data) {%>
            <% if(dat){ %>
        <div class="card mb-3" style="max-width: 1000px;">
            <div class="row g-0">
              <div class="col-md-4 justify-content-center">
                <% if(dat.show.image){ %>
                <img src=<%= dat.show.image.original %> class="img-fluid rounded-start" alt=<%= dat.show.name %>>
                <% } %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><%= dat.show.name %></h2>
                    <% for(let genre of dat.show.genres) {%>
                    <span class="card-text"><small class="text-muted"><%=genre%> | </small></span>
                    <% } %>
                    <hr>
                    <p class="card-text"><%- dat.show.summary %></p>
                    <hr>
                    <p><b>Rating: </b><%= dat.show.rating.average %></p>
                    <p><b>Language: </b> <%= dat.show.language %></p>
                    <p><b>Type:</b> <%= dat.show.type %></p>
                    <% if(dat.show.network){ %>
                        <p><b>Available on:</b> <%= dat.show.network.name %>  </p>
                    <% } %>
                    <% if(dat.show.webChannel){ %>
                        <p><b>Available on:</b> <%= dat.show.webChannel.name %> </p>
                    <% } %>
                    <a href=<%= dat.show.officialSite %>>Official Website</a>
                </div>
              </div>
            </div>
          </div>
          <%}%>
          <% } %>
    </section>
</body>
</html>